<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MiSDKAppID</key>
    <string>设置成自己</string>
    <key>MiSDKAppKey</key>
    <string>设置成自己</string>
    <key>MiSDKRun</key>
    <string>online</string>
</dict>
</plist>